* {
    box-sizing: border-box;
    color: #333333;
    
    
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    
    letter-spacing: .5px;
    
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    color: white;
    
    font-weight: 600;
    text-decoration: none;
    
    background-color: rgba(0, 0, 0, .3);
}

.main-nav {
    text-align: center;
    font-size: 22px;
}

.main-header {
    background-image: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3356&q=80');
    background-size: cover;
    background-position: center center;
    
    padding-bottom: 50px;    
    
    min-height: 50vh;
    max-height: 80vh;
    
    margin-bottom: 50px;
    
}

.all-caps-heading-white {
    text-align: center;
    text-transform: capitalize;
    
    margin: 0;
    padding: 3rem;
    
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.25px;
    
    color: white;

}


.all-caps-heading-tan {
    text-align: center;
    text-transform: capitalize;
    
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.25px;
    
    color: #B68835;

}


.titlecase-heading-white {
    text-align: center;
    
     margin-left: auto;
    margin-right: auto;
    
    font-size: 38px;
    font-weight: 600;
    
    color: white;
    max-width: 400px;
    
    letter-spacing: .3px;
    
}

.titlecase-heading {
    text-align: left;
        
    font-size: 38px;
    font-weight: 600;    
     
    letter-spacing: .3px;
    
}

.content-section {
    padding-top: 1rem;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 75px;
    padding-bottom: 75px;
}

.icon-set-images {
    max-width: 75px;
}

.icon-set-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 50px;
    
    padding-top: 40px;
}



.list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.location-list li {
    display: inline;
}

.product {
  flex: 1;
  position: relative;
}

.product::after {
  content: '';
  position: absolute;
  top: .2rem;
  width: 100%;
  z-index: 0;
}

.product h4 {
  display: inline-block;
  padding-right: .5rem;
  position: relative;
  z-index: 1;
}

.prices {
  display: flex;
}

.price {
  padding: 0 .5rem;
}

.return-link {
    background-color: #333333;
    padding: 50px;
    color: white;
    
}

.return-link-type {
    color: white;
}





